body {
    padding: 0;
    margin: 0;
}
html, body, #mapid {
    height: 100%;
    width: 100vw;
}

#mapid {
    z-index: 1;
}

/* #nav1-btn-div {
	position: fixed;
    top:0;
    right:20px;
	padding: 0;
    margin: 0;
} */

#menu-div {
	position: fixed;
    top:0; left: 50px;
    z-index: 2;
    padding: 0;
    margin: 0;
}
#menu-ul, .menu-layer-li {
    padding: 0;
    margin: 0;
    letter-spacing: -0.5em;
}
.menu-layer-li {
    display: inline-block;
}

.btn-div {
    margin: 10;
    font-size:0;
}

.layer-btn, .layer-btn-school, .control-btn {
    color: white;
	border: groove white;
    border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
    padding: 5px 8px 5px 8px;
    margin: 0;
}
.layer-btn:hover {
	color: lightblue;
}
.layer-btn:focus, .layer-btn-school:focus, .control-btn:focus, .control-select:focus {
	outline: none;
}

.control-btn {
    color: black;
}
.control-btn:hover {
    background-color: rgba(224,255,255,0.8);
}

.control-btn-select {
    padding-top: 3px;
}
.control-select {
    border :1px solid #eee;
    font-size :14px;
    font-weight: bold;
    padding-bottom: 3px;
    background-color: rgba(255,255,255,0.0);
}

#btnPubNinka {
	background-color: green;
}

#btnPriNinka {
	background-color: greenyellow;
}

#btnJigyosho {
	background-color: mediumpurple;
}

#btnYhoiku {
	background-color: dodgerblue;
}

#btnNinkagai {
	background-color: mediumblue;
}

#btnDisability {
	background-color: salmon;
}

#btnGakudou {
	background-color: darkgoldenrod;
}

#btnKindergarten {
	background-color: red;
}

#btnElementarySchool {
	background-color: green;
}
#btnMiddleSchool {
	background-color: grey;
}



/* 保育園施設アイコン */
.pubninka-icon {
    padding: 10;
    border: 1px solid white;
    border-radius: 50%;
    background-color: green;
}
.yhoiku-icon {
    padding: 10;
    border: 1px solid white;
    border-radius: 50%;
    background-color: dodgerblue;
}
.kindergarten-icon {
    padding: 10;
    border: 1px solid white;
    border-radius: 50%;
    background-color: red;
}
.ninkagai-icon {
    padding: 10;
    border: 1px solid white;
    border-radius: 50%;
    background-color: mediumblue;
}
.jigyosho-icon {
    padding: 10;
    border: 1px solid white;
    border-radius: 50%;
    background-color: mediumpurple;
}
.gakudou-icon {
    padding: 10;
    border: 1px solid white;
    border-radius: 50%;
    background-color: darkgoldenrod;
}
.prininka-icon {
    padding: 10;
    border: 1px solid white;
    border-radius: 50%;
    background-color: greenyellow;
}
.disability-icon {
    padding: 10;
    border: 1px solid white;
    border-radius: 50%;
    background-color: salmon;
}
